*{margin:0;padding: 0px;}

input.checkbox {
    position: relative;
    left: 0;
}

p.check {
    display: inline;
    position: relative;
    left: 0;
    width: 16%;
}

input.right {
    width: 29%;
    text-align: left;
}
.line {
    display: flex;
    position: relative;
}

span.red {
    color: red;
}

.title {
    font-weight: bold;
}

.detail {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    margin-top: 30px;
}

fieldset {
    margin-top: 30px;
}
.container {
    width: 600px;
    height: 800px;
    padding: 10px;
    background: beige;
    margin: auto;
}
.top{
    width: 18%;
}